/* * {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: .2% linear;
} */


img{
    margin-bottom: 3%;
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 225px !important; 
    max-height: 225px !important;
}

h2{
    font-weight: 700;
    justify-content: center;
    text-align: center;
    padding: 2rem 0.9rem;
	font-size: 2rem;
	margin-bottom: 0.1rem;
}

    
.container{
    text-align: center;
    margin: 100px auto;
    height: 500px;
    width: 1000px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container .box-container{
    display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
            gap: 20px; /* Adjust the gap between grid items */
}

h3{
    display: contents;
    padding: 10px 20px;
    color: #000;
    font-family: Roboto;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.container .box-container .box{

    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-align: center;
    padding: 10px, 20px;
    
}

.container .box-container .box img{
    margin:auto;
   display: block;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Style for the navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #606060; /* Change as per your design */
  padding: 25px 30px; /* Adjust padding as needed */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

/* Style for the navigation logo */
.nav-logo a {
  color: #fff; /* Change color as per your design */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Adjust font weight as needed */
}

/* Style for the navigation items */
.nav-items ul {
  list-style-type: none; /* Remove bullet points from list */
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items ul li {
  margin-left: 20px; /* Adjust spacing between items */
  padding-top: 8px;
}

.nav-items ul li a {
  color: #fff; /* Change color as per your design */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Adjust font weight as needed */
}

.logo-img{
  height: 30px;
}


.nav-items .logout {
  background-color: #39393b;
  padding: 8px;
  color: black;
  border-radius: 6px;
}


.gift_add_container {
    margin: 0 auto 100px; /* Center the container */
    max-width: 600px; /* Adjust the maximum width as needed */
    height: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}


.gift_add {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns grid */
        gap: 10px; /* Adjust the gap between grid items */
    }
.gift_add input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
.gift_add input[type="submit"] {
        grid-column: 1 / -1; /* Span across all columns */
    }