@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Quicksand&display=swap');
@media (min-width: 576px) {
    .col-sm-3 {
        flex: 0 0 auto;
        width: 50%;
    }
}
.cart{
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}
.cart .content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.7rem;
    min-width: 400px;
}
.cart .content-table thead tr{
    background-color: #0b071d;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.cart .content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;

}
.content-table tbody tr:nth-of-type(even){
    background-color: #F2E8C6;
    
}
.bank{
    display: none;
} 
.bkash{
    display: none;
}
.bill {
    max-width: 70%;
    font-family: 'Bree Serif', serif;
    text-align: left;
    margin: 9%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    background-color: #F2E8C6;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Style for the navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #606060; /* Change as per your design */
  padding: 25px 30px; /* Adjust padding as needed */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

/* Style for the navigation logo */
.nav-logo a {
  color: #fff; /* Change color as per your design */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Adjust font weight as needed */
}

/* Style for the navigation items */
.nav-items ul {
  list-style-type: none; /* Remove bullet points from list */
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items ul li {
  margin-left: 20px; /* Adjust spacing between items */
  padding-top: 8px;
}

.nav-items ul li a {
  color: #fff; /* Change color as per your design */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Adjust font weight as needed */
}

.logo-img{
  height: 30px;
}


.nav-items .logout {
  background-color: #39393b;
  padding: 8px;
  color: black;
  border-radius: 6px;
}

