@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* Style for the navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #606060; /* Change as per your design */
  padding: 25px 30px; /* Adjust padding as needed */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

/* Style for the navigation logo */
.nav-logo a {
  color: #fff; /* Change color as per your design */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Adjust font weight as needed */
}

/* Style for the navigation items */
.nav-items ul {
  list-style-type: none; /* Remove bullet points from list */
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items ul li {
  margin-left: 20px; /* Adjust spacing between items */
  padding-top: 8px;
}

.nav-items ul li a {
  color: #fff; /* Change color as per your design */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Adjust font weight as needed */
}

.logo-img{
  height: 30px;
}


.nav-items .logout {
  background-color: #39393b;
  padding: 8px;
  color: black;
  border-radius: 6px;
}



.pet-query {
  display: block;
  background-color: #f2f2f2;
  opacity: 95%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 525px; /* Adjust width as needed */
  margin-top: 50px;
  /* max-width: 1000px; Adjust max-width as needed */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 20px; /* Add border radius for styling */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */

}

.pet-query table {
  
  margin-left: 20px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 1000px;
  table-layout: fixed;
  overflow-y: auto;
  max-height: 450px;
  position: absolute;
  display: block;
  overflow-x: hidden;
  
}


.pet-query table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.pet-query table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  padding-left:  20px;
  padding-right: 20px;
}

.pet-query table th,
table td {
  padding: 1.30em;
  text-align: center;
  padding-left:  30px;
  padding-right: 30px;
  position: sticky;
}

.pet-query table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  position: sticky;
}

@media screen and (max-width: 600px) {
 .pet-query table {
    border: 0;
  }

.pet-query  table caption {
    font-size: 1.3em;
  }
  
 .pet-query table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
 .pet-query table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
 .pet-query table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
 .pet-query table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .pet-query table td:last-child {
    border-bottom: 0;
  }
}

body {
  /* background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%); */
  background-image: url("./img/hhhe.jpg");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-scrollbar
  { 
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }    



